<nav>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-md-0 text-dark text-decoration-none">
                <img class="bi me-2" src="/img/secim2023-logo.png" alt="" height="80">
            </a>
            
            <ul class="nav col-12 col-md-auto col-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="/index.html" class="nav-link px-2 link-dark">
                        <span tlang="en">Home</span>
                        <span tlang="tr">Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a href="/about.html" class="nav-link px-2 link-dark">
                        <span tlang="en">About</span>
                        <span tlang="tr">Hakkında</span>
                    </a>
                </li>
                <li>
                    <a href="/dataset.html" class="nav-link px-2 link-dark">
                        <span tlang="en">Dataset</span>
                        <span tlang="tr">Veriseti</span>
                    </a>
                </li>
                <li>
                    <a href="/publications.html" class="nav-link px-2 link-dark">
                        <span tlang="en">Publications</span>
                        <span tlang="tr">Yayınlar</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span tlang="en">Tools</span>
                        <span tlang="tr">Araçlar</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/apps/follower-change/">
                                <i class="fa fa-chart-bar"></i>&nbsp;
                                <span tlang="en">Follower changes</span>
                                <span tlang="tr">Takipçi değişimi</span>
                            </a>
                        </li>
            
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <h6 class="dropdown-header">
                                <span tlang="en">In preperation</span>
                                <span tlang="tr">Hazırlık aşamasında</span>
                            </h6>
                        </li>
                        <li>
                            <a class="dropdown-item disabled" href="#">
                                <i class="fa fa-users"></i>&nbsp;
                                <span tlang="en">Politician profiles</span>
                                <span tlang="tr">Siyasi profilleri</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item disabled" href="#">
                                <i class="fa fa-theater-masks"></i>&nbsp;
                                <span tlang="en">Anomalous followers</span>
                                <span tlang="tr">Anomali takipçiler</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item disabled" href="#">
                                <i class="fa fa-handshake"></i>&nbsp;
                                <span tlang="en">Coordinated trends</span>
                                <span tlang="tr">Koordinasyonlu trendler</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
    
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-secondary" onclick="setLang('tr'); return false">TR <span class="fi fi-tr"></span></button>
                <button type="button" class="btn btn-outline-secondary" onclick="setLang('en'); return false">EN <span class="fi fi-gb"></span></button>
            </div>
        </header>
    </div>
</nav>